body{
text-align:center;
background-color:#C7C8F5;
}

img{
height:300px;
}

.yes{
width:100px;
height:50px;
}

.no{
width:100px;
height:50px;
}

.yes2{
width:100px;
height:50px;
}

.no2{
width:100px;
height:50px;
}

.yes3{
width:100px;
height:50px;
}

.no3{
width:100px;
height:50px;
}